@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-bubblegum: 'Bubblegum Sans', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-roboto);
}

